{:deps
  {
    org.clojure/clojure              {:mvn/version "1.10.1"}
    clojure-term-colors              {:mvn/version "0.1.0"}
    org.ini4j/ini4j                  {:mvn/version "0.5.4"}
    clj-http                         {:mvn/version "3.11.0"}
    com.cognitect.aws/api            {:mvn/version "0.8.498"}
    com.cognitect.aws/endpoints      {:mvn/version "1.1.11.934"}
    com.cognitect.aws/sts            {:mvn/version "809.2.784.0"}
    com.cognitect.aws/iam            {:mvn/version "801.2.704.0"}
    com.cognitect.aws/s3             {:mvn/version "810.2.817.0"}
    com.cognitect.aws/ec2            {:mvn/version "810.2.817.0"}
    com.cognitect.aws/cloudformation {:mvn/version "810.2.801.0"}
    com.cognitect.aws/autoscaling    {:mvn/version "811.2.824.0"}
    com.cognitect.aws/dynamodb       {:mvn/version "810.2.801.0"}
    com.cognitect.aws/logs           {:mvn/version "809.2.784.0"}
    com.cognitect.aws/opsworks       {:mvn/version "770.2.568.0"}
    com.cognitect.aws/support        {:mvn/version "801.2.700.0"}
    com.cognitect.aws/service-quotas {:mvn/version "810.2.817.0"}
    org.clojure/java.jdbc            {:mvn/version "0.7.11"}
    org.xerial/sqlite-jdbc           {:mvn/version "3.34.0"}
    org.clojure/data.csv             {:mvn/version "1.0.0"}
  }
}
